a {
    text-decoration: none;
}

#img1 {
    text-align: center;
    margin: 50px;
    height: 200px;
}

#img1p {
    color: #337AB7;
    font-weight: bold;
}

#name {
    font-weight: bold;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    border-bottom: solid gray;
    display: inline-block;
    margin-left: 165px;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}

#menufix {
    position: fixed;
    top: 0px;
    width: 100%;
}

li a:hover {
    background-color: skyblue;
}

.active {
    background-color: brown;
}
#portfolio{
    width: 30%;
    float: left;
    margin-left: 350px;
    box-sizing: border-box;
}
#portfoliomenu{
    width: 100%;
}

#img2{
    border-radius: 70%;
    overflow: hidden;
    width: 79px;
}
#portfolio2{
    margin-left: 350px;
}
#imgjava{
    border-radius: 70%;
    overflow: hidden;
    width: 30px;
}
#imgjavascript{
    border-radius: 70%;
    overflow: hidden;
    width: 30px;
}