header:after {
    background-image: url("../image/picture.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.5 !important;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
  }

a {
    text-decoration: none;
}

#topimg {
    text-align: center;
    margin: 10%;
    height: 10%;
    margin-top: 16%;
}

#img1p {
    color: #337AB7;
    font-weight: bold;
}

#name {
    font-weight: bold;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    border-bottom: solid gray;
    display: inline-block;
    margin-left: 165px;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}

#menufix {
    position: fixed;
    top: 0%;
    margin-left: 0%;
    z-index: 1;
}

li a:hover {
    background-color: skyblue;
}

.active {
    background-color: brown;
}
#portfolio{
    width: 30%;
    float: left;
    margin-left: 350px;
    box-sizing: border-box;
}
#portfoliomenu{
    width: 100%;
}

#img2{
    border-radius: 70%;
    overflow: hidden;
    width: 79px;
}
#portfolio2{
    margin-left: 350px;
}
#imgjava{
    border-radius: 70%;
    overflow: hidden;
    width: 30px;
}
#imgjavascript{
    border-radius: 70%;
    overflow: hidden;
    width: 30px;
}
#database{
    border-radius: 70%;
    overflow: hidden;
    width: 30px;
}
#bootstrap{
    border-radius: 70%;
    overflow: hidden;
    width: 30px;
}
#portfolio3{
    margin-left: 350px;
    position: relative;
}
#imgjoin{
    width: 35%;   
}
#jointext{
    position: absolute;
    top: 90%;
    left: 10%;
}
#subaimg{
    width: 30%;
}   
#portfolioactivity{
    margin-left: 350px;
    position: relative;
}
#subatext{
    position: absolute;
    top: 100%;
    left: 9%;
}
#myself{
    margin-left: 20%;
}
#myself1{
    margin-left: 5%;
}
#myselfactivity{
    margin-left: 25%;
}
#myselfactivitytext1{
    margin-left: 20%;
}
#myselfactivitytext2{
    margin-left: 5%;
}
#myselfactivitytext3{
    margin-left: 5%;
}
#myselfactivitytext4{
    margin-left: 20%;
}
#myselfactivitytext5{
    margin-left: 25%;
}
#contact{
    margin-left: 25%;
}
#sel{
    width: 10%;
    margin-left: 0%;
}